body{
    background-color: #E8F9FD;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #2155CD;
}

ul a{
    text-decoration: none;
    cursor: pointer;
    color: #2155CD;
}
ul li a:hover {
    color: #79DAE8;
}
section{
    display: flex;
}
h1{
    color: #79DAE8;
    padding: 50px;
    padding-bottom: 0%;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
}

p{
    color: #0AA1DD;
    padding: 50px;
    font-family: "Noto Sans", sans-serif;
   
}

.lista{
    padding: 10px;
    font-family: "Raleway", sans-serif;
}

#boton{
    display: flex;
    align-content: stretch;
    justify-content: center;
}

#boton button{
    background-color: #2155CD;
    border-radius: 10%;
    height: 30px;
    width: auto;
    font-family: "Rubik", sans-serif;
    color: white;
    border: none;
}

button a{
    background-color: #2155CD;
    border-radius: 10%;
    height: 30px;
    width: auto;
    font-family: "Rubik", sans-serif;
    color: white;
    border: none;
    text-decoration: none;
    font-weight: bold;
}

button a:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #2494f0;
}

#boton button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #2494f0;
}



.icons{
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
}

.github-line{
    height: 35px;
    width: 40px;
    cursor: pointer;
    padding-right: 10px;
}

.mail-line{
    height: 35px;
    width: 40px;
    cursor: pointer;
    padding-right: 10px;
}

.linkedin-line{
    height: 35px;
    width: 40px;
    cursor: pointer;
    padding-right: 10px;
}
